<div class = "heading-title">
  <p>ユーザー情報</p>
</div>
<div class = "user-info">
  <%= render 'info', end_user: current_end_user %>
</div>
<div class = "heading-title">
  <p>ユーザー一覧</p>
</div>
<div class = "user-index">
  <%= link_to 'フォロワー数順',end_users_follower_ranking_path %>
  <%= link_to '投稿数順', end_users_post_ranking_path %>
  <%= render 'index', end_users: @end_users %>
</div>



