<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">
      <% if @end_user == current_end_user %>

      <% else %>

      <% end %>
    </p>
    <p class="main-visual__content--text">
      <% if @end_user == current_end_user %>
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
      <% else %>

      <% end %>
    </p>
  </div>
</div>
<main class="main-form">
  <h3 class = "main__sidebar--heading">
    退会画面
  </h3>
  <p class="unsubscribe_body">
      退会すると、会員登録情報や<br>
      これまでの購入履歴が閲覧できなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
  </p>
  <div class = "main-form__information-form">
    <%= link_to '退会しない', end_user_path(current_end_user) %>
    <%= link_to '退会する', end_user_withdraw_path(current_end_user), method: :patch, data: { confirm: '退会しますか？' }%>
  </div>
</main>