<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class="main-form">
  <h3 class = "main__sidebar--heading">
    お問い合わせ送信完了
  </h3>
  <div class = "main-form__information-form">
    <p>お問い合わせが完了しました。回答までしばらくお待ちください。</p>
  </div>
</main>