<div class = "main-visual">
  <div class="main-visual__content">
    <p class="main-visual__content--title">

    </p>
    <p class="main-visual__content--text">
        毎日毎食のお料理を投稿しよう！<br>
        新たな発見が見つかるかも！！！！
    </p>
  </div>
</div>
<main class="main">
  <div class="system-explain">
    <p>
      投稿機能<br>
      投稿閲覧機能<br>
      家計簿機能
    </p>
  </div>
</main>