<h2>ジャンル編集</h2>
<%= form_with model: @genre,url: admin_genre_path,local: true do |f| %>
  <table>
    <tr class="field">
      <label for="genre_title">ジャンル名</label>
      <%= f.text_field :name, autofocus: true, class: "genre_name" %>
    </tr>
    <tr class="actions">
      <%= f.submit "変更を保存" ,class: 'btn btn-sm btn-success genre-btn' %>
    </tr>
  </table>
<% end %>
<div class=>
  <%= link_to "戻る", admin_genres_path, class: "btn" %>
</div>