<main class = "main">
  <div class="main__blog">
    <h3 class = "main__blog--heading">
      ユーザー詳細
    </h3>
    <div class="main__blog--user-info">
      <table>
        <tr>
          <td><%= attachment_image_tag @end_user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %></td>
          <td><%= @end_user.last_name + @end_user.first_name %></td>
          <td><%= @end_user.introduction %></td>
          <td>
            <% if @end_user.is_deleted == false %>
              <p class ="available">有効</p>
            <% else %>
              <p class ="invalid">退会</p>
            <% end %>
          </td>
          <td><%= link_to '編集', edit_admin_end_user_path(@end_user) %></td>
        </tr>
      </table>
    </div>
  </div>
</main>