* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  width: 1200px;
  height: 150px;
  padding: 15px 0;
  margin: 0 auto;
  font-size: 20px;
  display: flex;

  &__header-left {
    width: 400px;
    height: 150px;
    padding: 10px 0;
    margin: o auto;
    display: flex;

    &--title {
      margin-left: 20px;
      margin-top: 50px;
    }

  }

  &__header-right {
    width: 800px;
    height: 150px;
    margin-top: 50px;
    text-align: right;
    font-size: 18px;

    &--list {
      list-style: none;
      display: inline-block;
      margin: 0 10px;
    }

    &--bottom {

    }

  }
}